.homepage-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.homepage-body-wrapper {
    height: fit-content;
    width: 100%;
}

.homepage-wrapper .card-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
}

.homepage-wrapper .card-container .card .card-header {
    font-size: large;

}

.homepage-wrapper .card-container .card  {
    width: 450px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: black;
    border-style: solid;
    border-radius: 20px;
    background-color: #ffcd82;
    margin: 10px;
}

.homepage-wrapper .card-container .card  .cardimgs {
    width: 100%;
    border-top: black;
    border-top-style: solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.homepage-wrapper .card-container .card .card-header:hover {
    color: white;
}

.homepage-wrapper .card-container .card:hover {
    transform: scale(1.1);
}
