.orders-wrapper {
    width: 100%;
    height: auto;
}

.orders-wrapper .card-container .coming-soon {
    height: auto;
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 10px;
}

.orders-wrapper .card-container .coming-p {
    font-size: x-large;
    justify-content: center;
    text-align: center;
    padding-bottom: 300px;
}